CompileFlags:
  CompilationDatabase: .
  Add: [
    -std=c++17,
    -x, c++,
    -I../../godot-cpp/include,
    -I../../godot-cpp/gen/include,
    -I../../godot-cpp/gdextension,
    -I../../godot-cpp/core,
    -I../../godot-cpp/classes,
    -DDEBUG,
    -DGODOT_CPP_VERSION=4,
    -DGODOT_EXTENSION,
    -DMODULE_INITIALIZATION_LEVEL_SCENE=1
  ]

Diagnostics:
  Suppress: ["-Wunused-variable", "-Wunknown-pragmas", "-Wsign-compare"]
